.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.word-to-guess {
  padding: 10px 0;
  letter-spacing: 1rem;
  font-size: calc(10px + 2vmin);
}

.buttons-container {
  padding-top: 40px;
}

.letters {
  padding: 10px 0;
}

.letter {
  margin: 5px;
}

.picked {
  color: silver;
}